td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 30px;
    width: 30px;
    max-width: 5vw;
    max-height: 5vw;
    /* same font as actual width */
    font-size: 200%;
} 


.correct {
    background-color: #00ff00;
}

.wrong {
    background-color: #ff0000;
}

/* Moving sudoku board in center of screen */

.sudoku-board {
    display: flex;
    justify-content: center;
}

.border-bottom{
    border-bottom: 2px solid #000000;
    text-align: left;
    padding: 8px;
}

.border-right{
    border-right: 2px solid #000000;
    text-align: left;
    padding: 8px;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

input {
    /* basically invisible */
    border: none;
    background: rgb(236, 249, 176);
    width: 30px;
    height: 30px;
    font-size: 100%;
    max-width: 5vw;
    max-height: 5vw;


}

