<h1>Sudoku</h1>

<div *ngIf="!gameStarted">
  <h2
  style="text-align: center;"
  >
    Waiting for game to start...</h2>
</div>

<div class="sudoku-board" *ngIf="gameStarted">
    <mat-spinner *ngIf="loading">

    </mat-spinner>
    <table *ngIf="!showSolution && !loading">
      <tr *ngFor="let row of grid; let i = index" >
        <!--IF ROW IS 3 OR 6 APPLY CLASS -->
        <td *ngFor="let cell of row; let j = index" [ngClass]="{'border-right': (j == 2 || j == 5), 'border-bottom': (i == 2 || i == 5)}">
          <input *ngIf="cell == null" type="number" pattern="[0-9]*" inputmode="numeric" maxlength="1" name="x" (keyup)="onKey($event, i, j)" />
          <span *ngIf="cell != null">{{cell}}</span>
        </td>
      </tr>
    </table>
    <table *ngIf="showSolution">
        <tr *ngFor="let row of solved; let i = index" >
            <!--IF ROW IS 3 OR 6 APPLY CLASS -->
            <td *ngFor="let cell of row; let j = index" [ngClass]="{'border-right': (j == 2 || j == 5), 'border-bottom': (i == 2 || i == 5), correct : (cell == userGrid[i][j] && grid[i][j] == null)  && userGrid[i][j] != '' , wrong : (cell != userGrid[i][j] && grid[i][j] == null) || (cell == 0 && userGrid[i][j] === '') }">
              <input *ngIf="cell == null" type="text" maxlength="1" name="x" (keyup)="onKey($event, i, j)" />
              <span *ngIf="cell != null">{{cell}}</span>
            </td>
          </tr>
    </table>
</div>
<div class="sudoku-board" *ngIf="!loading">
    <h1>{{timerInstance.getTimeValues().toString()}}</h1>
</div>
<div class="sudoku-board" *ngIf="!loading">
    <button mat-raised-button color="primary" (click)="correctSudoku()" >
        I've done, proceed with correction!</button>
</div>

